#solar-systems {
  table-layout: fixed;
  transition: 200ms ease-in-out all;

  &.loading {
    opacity: 0.3;
  }

  th.orderable {
    cursor: pointer;

    .glyphicon-sort {
      color: darken($table-bg-hover, 10%);
    }
  }

  tr {
    transition: 200ms ease-in-out all;
    opacity: 1;

    &.ng-enter.ng-enter-active, &.ng-leave {
      opacity: 1;
    }

    &.ng-leave.ng-leave-active, &.ng-enter {
      opacity: 0;
    }
  }

  tbody {
    tr {
      cursor: pointer;
    }
  }
}

filter {
  display: block;
  transition: 200ms ease-in-out all;
  padding-top: $scale-unit * 2;
  padding-bottom: $scale-unit * 2;

  &.ng-enter.ng-enter-active, &.ng-leave {
    opacity: 1;
  }

  &.ng-leave.ng-leave-active, &.ng-enter {
    opacity: 0;
  }
}

.modal-body {
  h3 {
    .glyphicon {
      cursor: pointer;
    }
  }
  .panel-heading {
    cursor: pointer;
  }
}
@media (max-width: $screen-xs-max) {
  .col-xs-12 {
    slider {
      margin-top: $scale-unit * 3;
    }
  }

  label {
    padding-top: $scale-unit;
  }
}
