#solar-systems {
  table-layout: fixed;

  th.sortable {
    cursor: pointer;

    .glyphicon-sort {
      color: darken($table-bg-hover, 10%);
    }
  }
}

#filters {
  .col-sm-2, .col-sm-4, .col-xs-2, .col-xs-4 {
    padding-top: 15px;
    padding-bottom: 5px;
  }
}
