#solar-systems {
  table-layout: fixed;
}

#filters {
  .col-sm-2, .col-sm-4 {
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .agent-filter {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
